@charset "ISO-8859-1";
h1{
	text-align: center;
	background-color: #ADD8E6;
}

.foro{
	background-color:#ADD8E6;
	text-align: center;
	min-width: 700px;
	max-width: 1300px;
	margin: auto;
	display: grid;
}

.datos{
	background-color:  #ADD8E6;
	text-align: left;
	flex: 20%;
	position: relative;
}

.publicaciones{
	flex: 80%;
	position: relative;
}